Data Preprocessing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1 = pd.read_csv('dataset.csv')
data1.head()

   year      state     crop  land_area  yield
0  2015       Abia  sorghum        NaN    NaN
1  2015    Adamawa  sorghum      203.4   1.07
2  2015  Akwa-Ibom  sorghum        NaN    NaN
3  2015    Anambra  sorghum        NaN    NaN
4  2015     Bauchi  sorghum      290.8   1.04

In [3]:
data2 = pd.read_csv('weather.csv')
data2.head()

,year,state,humidity,soil_surface,max_temp,min_temp,soil_moisture,root_zone,max_speed,min_speed,radiation,rainfall
0,2015,Abia,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
1,2016,Abia,85.50,0.75,34.23,15.16,0.89,0.76,5.80,0.02,35.75,1966.99
2,2017,Abia,86.75,0.80,33.05,17.32,0.94,0.81,5.14,0.00,35.75,2046.09
3,2018,Abia,85.81,0.78,33.61,12.67,0.92,0.80,4.95,0.02,35.75,1814.06
4,2019,Abia,86.12,0.77,32.62,17.01,0.91,0.77,4.48,0.02,35.75,1930.08

In [4]:
merged_data = pd.merge(data1, data2, on=['year', 'state'])
merged_data.head()

,year,state,crop,land_area,yield,humidity,soil_surface,max_temp,min_temp,soil_moisture,root_zone,max_speed,min_speed,radiation,rainfall
0,2015,Abia,sorghum,NaN,NaN,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
1,2015,Abia,maize,79.62,1.16,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
2,2015,Abia,rice,14.59,2.40,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
3,2015,Abia,ginger,NaN,NaN,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
4,2015,Abia,yam,175.20,3.96,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65

In [5]:
merged_data = merged_data.dropna()
merged_data

,year,state,crop,land_area,yield,humidity,soil_surface,max_temp,min_temp,soil_moisture,root_zone,max_speed,min_speed,radiation,rainfall
1,2015,Abia,maize,79.62,1.160,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
2,2015,Abia,rice,14.59,2.400,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
4,2015,Abia,yam,175.20,3.960,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
5,2015,Abia,groundnut,7.20,1.344,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
7,2015,Abia,cassava,196.86,9.520,85.12,0.69,32.78,13.13,0.85,0.68,6.15,0.07,35.77,1439.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2467,2019,Zamfara,benniseed,7.45,1.570,49.44,0.38,41.55,10.62,0.42,0.40,8.27,0.01,35.13,669.73
2468,2019,Zamfara,cotton,17.61,0.410,49.44,0.38,41.55,10.62,0.42,0.40,8.27,0.01,35.13,669.73
2469,2019,Zamfara,cassava,130.17,1.790,49.44,0.38,41.55,10.62,0.42,0.40,8.27,0.01,35.13,669.73
2470,2019,Zamfara,tomatoe,39.61,5.140,49.44,0.38,41.55,10.62,0.42,0.40,8.27,0.01,35.13,669.73
2471,2019,Zamfara,onion,27.97,4.520,49.44,0.38,41.55,10.62,0.42,0.40,8.27,0.01,35.13,669.73

In [6]:
merged_data.describe()

,year,land_area,yield,humidity,soil_surface,max_temp,min_temp,soil_moisture,root_zone,max_speed,min_speed,radiation,rainfall
count,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000,1987.000000
mean,2017.055360,111.742607,3.421289,66.537489,0.554187,38.704665,12.881922,0.623286,0.571948,6.209673,0.031696,35.484675,1260.365244
std,1.372641,111.089015,6.616052,16.862093,0.193802,4.017690,3.091832,0.212945,0.185269,1.913426,0.018631,0.220944,646.843084
min,2015.000000,0.210000,0.020000,36.440000,0.220000,31.130000,5.730000,0.240000,0.230000,2.630000,0.000000,34.990000,316.410000
25%,2016.000000,31.370000,0.940000,51.690000,0.410000,34.480000,10.480000,0.450000,0.420000,4.610000,0.020000,35.270000,775.200000
50%,2017.000000,72.850000,1.730000,67.310000,0.550000,39.230000,12.910000,0.630000,0.560000,6.010000,0.030000,35.540000,1149.610000
75%,2018.000000,166.395000,3.705000,84.380000,0.710000,42.620000,15.140000,0.820000,0.700000,7.830000,0.040000,35.640000,1545.120000
max,2019.000000,1489.450000,202.420000,89.120000,0.890000,44.190000,21.400000,0.960000,0.910000,10.020000,0.090000,35.820000,3243.160000

Feature Selection

In [7]:
#Load libraries
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

In [8]:
# Create mapping dictionaries for state and crop
state_mapping = {state: i for i, state in enumerate(merged_data['state'].unique())}
crop_mapping = {crop: i for i, crop in enumerate(merged_data['crop'].unique())}

In [9]:
# Map the state and crop columns
merged_data['state'] = merged_data['state'].map(state_mapping)
merged_data['crop'] = merged_data['crop'].map(crop_mapping)

In [10]:
# Separate the target variable (yield) from the features
X = merged_data.drop('yield', axis=1)
y = merged_data['yield']

In [11]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Feature Importance using Random Forest
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
feature_importances = rf.feature_importances_
important_features = pd.Series(feature_importances, index=X.columns).sort_values(ascending=False)
print(important_features)

land_area        0.311667
crop             0.196041
year             0.085473
humidity         0.058140
max_temp         0.049508
soil_moisture    0.048441
min_temp         0.043541
max_speed        0.041744
root_zone        0.036620
soil_surface     0.032327
radiation        0.028870
rainfall         0.025390
state            0.021416
min_speed        0.020821
dtype: float64

In [14]:
# Recursive Feature Elimination (RFE)
estimator = RandomForestRegressor()
rfe = RFE(estimator, n_features_to_select=5)
rfe.fit(X_train, y_train)
selected_features = pd.Series(rfe.support_, index=X.columns)
print(selected_features[selected_features])

year            True
crop            True
land_area       True
humidity        True
soil_surface    True
dtype: bool

In [15]:
# Lasso Regression
lasso = Lasso(alpha=0.1)  # adjust alpha value as needed
lasso.fit(X_train, y_train)
lasso_coefficients = pd.Series(lasso.coef_, index=X.columns).sort_values(ascending=False)
print(lasso_coefficients)

max_speed        0.128737
min_temp         0.090743
crop             0.039205
humidity         0.021741
land_area        0.003174
state            0.000701
soil_surface     0.000000
max_temp        -0.000000
soil_moisture   -0.000000
root_zone       -0.000000
min_speed        0.000000
radiation       -0.000000
rainfall        -0.000169
year            -0.167364
dtype: float64